// Forms
form {

  [data-grav-select-array-type="row"] {

    display: inline-block;
    width: 100%;
    margin-bottom: 20px;

    span {
      padding: 0.5rem;
      display: inline-block;
      line-height: 1.7;
      cursor: pointer;

      &[data-grav-advanced-array-action="sort"] {
        //float: left;
        cursor: move;
      }
    }

    .selectize-input {
      padding: 0.425rem 30px 0.425rem 10px;
    }

    >.form-select-array-wrapper {
      //float: left;
      width: 40%;
      display: inline-block;
      vertical-align: top;
      padding: 0 0.5rem;
    }

    >.form-select-array-value-wrapper {
      &:after {
        margin-top: 0;
        border: 0;
        position: absolute;
        right: 12px;
        top: 50%;
        line-height: 0;
        pointer-events: none;
      }
    }

    &.selectMultiline {
      >.form-select-array-value-wrapper {
        padding-left: 12.5%;
      }
    }

    &:not(.selectMultiline) {
      >.form-select-array-value-wrapper {
        display: inline-block;
        position: absolute;
        width: 60%;
      }
    }

    input[type=text] {
      width: 40%;
      float: left;
      margin: 0 5px 5px 0;
    }

  }


}