// Forms
form {

  [data-grav-field="selectableList"] {

    .form-list-wrapper {
      [data-collection-holder] {
        [data-collection-item] {
          padding: 3rem;

          input[type=text] {
            width: 40%;
            float: left;
            margin: 0 5px 5px 0;
          }

          .form-select-wrapper {
            float: left;
            width: 40%;
          }

          [data-grav-select-array-type="row"] {
            &:not(.selectMultiline) {
              >.form-select-array-value-wrapper {
                width: 100%;
              }
            }
          }

          //.form-value-wrapper {
          //  position: relative;
          //  clear: left;
          //  padding-left: 5%;
          //  &:after {
          //    margin-top: 0;
          //    border: 0;
          //    position: absolute;
          //    right: 12px;
          //    top: 50%;
          //    line-height: 0;
          //    pointer-events: none;
          //  }
          //}

          //.form-row {
          //  display: inline-block;
          //  width: 100%;
          //  span {
          //    padding: 0.5rem;
          //    display: inline-block;
          //    line-height: 1.7;
          //    cursor: pointer;
          //
          //    &[data-grav-selectable-list-action="sort"] {
          //      float: left;
          //      cursor: move;
          //    }
          //  }
          //}
        }
      }
    }

  }

}